USE [master]
GO
/****** Object:  Database [employees]    Script Date: 14/04/2024 04:04:51 ******/
CREATE DATABASE [employees]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'employees', FILENAME = N'C:\Users\USER\employees.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'employees_log', FILENAME = N'C:\Users\USER\employees_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [employees].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [employees]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 14/04/2024 04:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 14/04/2024 04:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 14/04/2024 04:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[TZ] [nvarchar](max) NOT NULL,
	[DateOfStartingWork] [datetime2](7) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Gender] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeJobs]    Script Date: 14/04/2024 04:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeJobs](
	[JobPositionId] [int] IDENTITY(1,1) NOT NULL,
	[JobPositionName] [nvarchar](max) NOT NULL,
	[IsManagerial] [bit] NOT NULL,
	[DateStartRole] [datetime2](7) NOT NULL,
	[CustomerEmployeeId] [int] NULL,
 CONSTRAINT [PK_EmployeeJobs] PRIMARY KEY CLUSTERED 
(
	[JobPositionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 14/04/2024 04:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Jobs] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240405134912_sixth', N'6.0.25')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240406174928_seventh', N'6.0.25')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240406204756_eighth', N'6.0.25')
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([Id], [Name], [Password]) VALUES (1, N'admin', N'1')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([EmployeeId], [FirstName], [LastName], [TZ], [DateOfStartingWork], [DateOfBirth], [Gender], [IsDeleted]) VALUES (13, N'Adar', N'Baron', N'123456789', CAST(N'2024-04-13T00:00:00.0000000' AS DateTime2), CAST(N'2024-04-13T00:00:00.0000000' AS DateTime2), 2, 0)
INSERT [dbo].[Customers] ([EmployeeId], [FirstName], [LastName], [TZ], [DateOfStartingWork], [DateOfBirth], [Gender], [IsDeleted]) VALUES (14, N'Ron', N'Shafer', N'123456788', CAST(N'2024-04-13T20:50:01.8050000' AS DateTime2), CAST(N'2024-04-13T20:50:01.8050000' AS DateTime2), 0, 0)
INSERT [dbo].[Customers] ([EmployeeId], [FirstName], [LastName], [TZ], [DateOfStartingWork], [DateOfBirth], [Gender], [IsDeleted]) VALUES (15, N'Moshe', N'Alon', N'123456787', CAST(N'2024-04-13T20:50:01.8050000' AS DateTime2), CAST(N'2024-04-13T20:50:01.8050000' AS DateTime2), 0, 0)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeeJobs] ON 

INSERT [dbo].[EmployeeJobs] ([JobPositionId], [JobPositionName], [IsManagerial], [DateStartRole], [CustomerEmployeeId]) VALUES (58, N'string', 1, CAST(N'2024-04-13T20:50:01.8050000' AS DateTime2), 14)
INSERT [dbo].[EmployeeJobs] ([JobPositionId], [JobPositionName], [IsManagerial], [DateStartRole], [CustomerEmployeeId]) VALUES (59, N'string', 1, CAST(N'2023-04-13T20:50:01.8050000' AS DateTime2), 15)
INSERT [dbo].[EmployeeJobs] ([JobPositionId], [JobPositionName], [IsManagerial], [DateStartRole], [CustomerEmployeeId]) VALUES (60, N'Front end Developer
', 0, CAST(N'2024-04-14T00:00:00.0000000' AS DateTime2), 16)
SET IDENTITY_INSERT [dbo].[EmployeeJobs] OFF
GO
SET IDENTITY_INSERT [dbo].[Jobs] ON 

INSERT [dbo].[Jobs] ([RoleId], [Name]) VALUES (1, N'Software Engineer')
INSERT [dbo].[Jobs] ([RoleId], [Name]) VALUES (3, N'Software Architect')
INSERT [dbo].[Jobs] ([RoleId], [Name]) VALUES (4, N'Systems Analyst')
SET IDENTITY_INSERT [dbo].[Jobs] OFF
GO
/****** Object:  Index [IX_EmployeeJobs_CustomerEmployeeId]    Script Date: 14/04/2024 04:04:51 ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeJobs_CustomerEmployeeId] ON [dbo].[EmployeeJobs]
(
	[CustomerEmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmployeeJobs]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeJobs_Customers_CustomerEmployeeId] FOREIGN KEY([CustomerEmployeeId])
REFERENCES [dbo].[Customers] ([EmployeeId])
GO
ALTER TABLE [dbo].[EmployeeJobs] CHECK CONSTRAINT [FK_EmployeeJobs_Customers_CustomerEmployeeId]
GO
USE [master]
GO
